@charset "UFT-8";
/* id= #; class= .;*/

#vesmatus{
    text-align: center;
    color: rgb(209, 120, 55);
    background-image: linear-gradient(to left, #195192, #E465E8);
    padding: 1%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 100%;
    box-shadow: wheat 1px 1px 1px;
    text-shadow: black 2px 1px 3px;
}
body{
    background-image: linear-gradient(to right, rgb(14, 14, 14), rgb(51, 52, 54));
}
h1{
    color: #DB53DB;
    text-shadow: rgb(64, 0, 255) 1px 1.5px 5px;

}
p{
    color: rgb(125, 234, 245);
    text-align: justify;
}
/* id uso unico; class pode-se usar varias: ex 
pode se usar + 1 uma class. basta separar porespaço
*/
.idk{
    text-align: justify;
    color: wheat;
}

.unk{
    font-size: 30px;
}